{% extends '::Backend/base.html.twig' %}

{% block body -%}
	<aside class="right-side">
	    <!-- Content Header (Page header) -->
	    <section class="content-header">
	        <h1>Dashboard</h1>
	    </section>

	    <!-- Main content -->
	    <section class="content">
	        <!-- -->        
	    </section><!-- /.content -->
	</aside><!-- /.right-side -->
{% endblock %}