<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="keywords" content="Sistema de chamados">
    <meta name="description" content="Ajudando no suporte" />

	<title>Sistema de chamados</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon"/>
	<!-- CSS -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/hover.css">
    <link rel="stylesheet" href="assets/css/styles.css">
	<link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    
    <div class="col-xs-12 barra-top text-center hidden">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <span class="login">Área do cliente <i class="fa fa-arrow-circle-o-right"></i></span>
        </a>
        <div id="collapse2" class="panel-collapse collapse">
            <form class="form-inline mg-t30">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Login</label>
                    <input type="email" class="form-control top" id="exampleInputEmail3" placeholder="Login" required="required">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Senha</label>
                    <input type="password" class="form-control top" id="exampleInputPassword3" placeholder="Senha" required="required">
                </div>
                <button type="submit" class="btn btn-login"><i class="btn btn-more" style="border: 1px solid #fff">Entrar</i></button>
            </form>
            <!-- form -->
        </div>
        <!-- /.-->
    </div>
    <!-- /.topbar mobile -->